
.header img {
  float: center;
  width: 100px;
}

.header p {
  position: relative;

  top: 18px;
  left: 50px;
}

.ul.sidebyside {
    position: fixed;
    float right; 
}

.footer {
    background-color: grey;
    color: white;
    padding: 15px;
