
.section-4{
	background: url(http://www.csub.edu/mba/cropped%20csu_bakersfield_03.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
