​
.bg {
    /* The image used */
    background-image: url("https://i.pinimg.com/736x/00/a4/fe/00a4fe9a9b6ce81568dae07bcf3141d8.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
